<% include ../partials/header %>

<h1>Are you sure you want to report <em><%=vendor.name%></em>?</h1>

<form action = "/vendors/<%=vendor._id%>/report?_method=PUT" method = "POST">
                         <div class = "hidden form-group">
                             <label for="vendor[name]">Name</label>
                            <input class = "form-control" type = "text" maxlength="80" name = "vendor[name]"  value = "<%=vendor.name%>" readonly>
                         </div>
                         <div class = "hidden form-group">
                             <label for="vendor[reportedBy]">User</label>
                            <input class = "form-control" type = "text" maxlength="80" name = "vendor[reportedBy]"  value = "<%=user._id%>" readonly>
                         </div>
                         <div class = "hidden form-group">
                             <label for="vendor[reportedCount]">Count</label>
                            <input class = "form-control" type = "text" maxlength="80" name = "vendor[reportedCount]"  value = "<%=vendor.reportedCount +1%>" readonly>
                         </div>
                         <div class = "form-group">
                            <button class = "btn btn-lg btn-danger btn-block">Report Post</button>
                        </div>
</form>

<% include ../partials/footer %>